%% -*- coding: utf-8 -*-
[{sync,
     [{src_dirs,
          {replace,
              [{"./src",
                [{i,"include"},
                 {type,erl},
                 {outdir,"./_build/default/lib/wa/ebin"},
                 {parse_transform,lager_transform}]}]}}]},
 {wa,[{modules,
          [
            {telegram_bot, #{
              name => "home_bot",
              token => "",
              trusted_list => [{<<"username">>, <<"">>}]
            }},
            {operations, #{
              light => #{ 
                method => http, 
                url => "http://192.168.xx.xx/rgb/" 
              },
              cam => #{ 
                cmd => "ffmpeg -loglevel quiet -y -rtsp_transport tcp -i 'rtsp://192.168.xx.xx/xx'  -an -f mjpeg -vframes 1 /tmp/shot.jpg", 
                image => "/tmp/shot.jpg",
                filename => "cam_"
              }
            }},
            {voice_varvara, #{
              cmd => "pocketsphinx_continuous -hmm zero_ru.cd_cont_4000 -dict varvara/varvara.dict -jsgf varvara/varvara.jsgf -inmic yes -adcdev plughw:2",
              dir => "/home/user/bot/priv/voice"
            }},
            {nvr, [
              #{ type => record, cmd => "ffmpeg -rtsp_transport tcp -i 'rtsp://192.168.xx.xx/xx' -codec:v copy -an -t 00:01:00 -f mp4 /home/user/nvr/cam_" },
              #{ type => broadcast, cmd => "ffmpeg  -rtsp_transport tcp -i 'rtsp://192.168.xx.xx/xx' -vcodec copy -an -f flv 'rtmp://127.0.0.1/cams/cam live=1'" }
            ]},
            {cleaner, #{
              timeout => 180,
              folders => ["/home/user/nvr"],
              max_size => 21000000000
            }}
          ]}
      ]},
 {lager,
     [{colored,true},
      {handlers,
          [{lager_console_backend,
               [debug,
                {lager_default_formatter, [time, " [",severity,"] ", module, ":", function, ":", line, " ", message, "\n"]}]},
           {lager_file_backend,[{file,"log/error.log"}, {level,error}]},
           {lager_file_backend,[{file,"log/console.log"}, {level,info}]}]}]}].
