%% -*- erlang -*-
{erl_opts, [
    debug_info, 
    {parse_transform, lager_transform}
  ]}.

{xref_checks, [undefined_function_calls]}.

{deps, [
  {lager,      "3.2.1"},
  {jsx,        "2.8.2"},
  {gun,        {git, "https://github.com/ninenines/gun.git", {branch, "master"}}},
  {sync,       {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
  {erlexec,    {git, "https://github.com/saleyn/erlexec.git", {branch, "master"}}}
  ]}.

{plugins, []}.

{shell, [
  {config, "config/sys.config"},
  {apps, [sync, wa]}
]}.
